// Specific CSS for your home-page
@media (max-width: 575px) {
  body{
    font-size: 16px;
  }
}

@media (min-width: 575px) {
  body {
    font-size: 18px;
  }
}

body {
  background: $background;
  color: $light-black;
  overflow-x: hidden;
 }
 