// Specific CSS for your home-page
@media (min-width: 1200px) {
  .about-me-text {
    width: 75%;
    margin: auto;
  }
}

body {
  background: $background;
  color: $light-black;
  // color: $gold;
  overflow-x: hidden;
  // h2 {
  //   text-align:start;
  // }
  // .about-me-text {
  //   text-align: justify;
  //   margin-bottom: 1em;
  // }
 }
 