@media (max-width: 575px) {
  .banner-name h1{
    font-size: 32px;
  }
  .banner-languages {
    width: 100px;
  }
  .banner-about-me p {
    top: 40vh;
  }
  .banner-job h2 {
    font-size: 24px;
  }
}

@media (min-width: 575px) {
  .banner-name h1 {
    font-size: 72px;
  }
  .banner-languages {
    width: 140px;
  }
  .banner-about-me p {
    top: 48vh;
  }
  .banner-job h2 {
    font-size: 32px;
  }
}
  
.banner {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  width: 100%;
  z-index: 0;
  height: 70vh;
}
  
.banner-presentation p {
  position: absolute;
  top: 30vh;
}

.banner-name h1 {
  position: absolute;
  font-weight: bold;
  top: 35vh;
}
  
.banner-about-me p {
  position: absolute;
}
  
.banner-job {
  color: $gold;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 75vh;
}
  
.banner-location {
  position: absolute;
  color: $gold;
  width: 100%;
  text-align: center;
  top: 92vh;
}

.banner-languages {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  right: 5px;
  display: flex;
  justify-content: space-between;
}
