@media (max-width: 575px) {
  .banner-name h1{
    font-size: 32px;
  }
  .banner-presentation h3{
    font-size: 16px;
  }
  .banner-about-me {
    font-size: 16px;
  }
  .banner-job {
    font-size: 16px;
  }
  .banner-localization {
    font-size: 16px;
  }
  .banner-languages {
    width: 100px;
  }
}

@media (min-width: 575px) {
  .banner-name h1 {
    font-size: 72px;
  }
  .banner-presentation h3 {
    font-size: 18px;
  }
  .banner-about-me {
    font-size: 18px;
  }
  .banner-languages {
    width: 140px;
  }
}
  
.banner {
  background-color: $background;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  height: 100vh;
  z-index: -1;
}
  
.banner-presentation h3 {
  position: absolute;
  top: 30vh;
}

.banner-name h1 {
  position: absolute;
  font-weight: bold;
  top: 35vh;
}
  
.banner-about-me p {
  position: absolute;
  top: 47vh;
}
  
.banner-job {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 88vh;
}
  
.banner-localization {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 92vh;
}

.banner-languages {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: space-between;
}







