@media (max-width: 575px) {
  .container-page {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 575px) {
  .container-page {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .container-page {
    width: 100%;
  }
  .container {
    padding-left: 50px;
  }  
}
