@media (max-width: 575px) {
  .container-page {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 575px) {
  .container {
    padding-left: 50px;
  }

  .container-about h2 {
    padding-top: 20px;
  }
}
