.upper-wave {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.upper-wave svg {
  background: $light-black;
  display: block;
  height: 100vh;
}

.section-about {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.section-about svg {
  display: block;
  background:$light-black;
  height: 90vh;
}




